#Database connection
dbname=exampledb
dbhost=localhost
dbuser=exampleuser
dbpass=examplepass

## Twitter API connection info. (https://apps.twitter.com/)
consumerKey="abc"
consumerSecret="abc"
accessToken="abctoken"
accesTokenSecret="abctokensecret"

# userIds is a comma separated list of twitter users. It is use by twtUser command to retrieve user profiles' info from twitter.
userIds=

# twitter public stream filter parameters. Depending on your key's access level limits vary, but, for the OAUTH application acces level
# limits are: 400 track terms, 5000 user ids following and xx location boxes.
searchTerms=""
followings=
locations=


## Feed settings
# URL(s) of the feed(s) we want to crawl. Feeds must be separated with ',' chars.
#      e.g. : feedURL=url1,url2,...,url_n
feedURL="http://feeds2.feedburner.com/example"

## Search Engine API connection info
BingKey="BingAPIkey"


## Influence tagger parameters
KloutKey=123a456b678f
PRKey=""
DomainStatsIOKey=34f54t435rf18746

## elh-MSM twitter options
#langs is a comma separated string composed of iso-639-1 codes.
langs=es,eu,en   

#log file path, in case we want to store full json objects of the tweets retrieved.
twitter_log=MSM-moodmap-twitter.log


